.reports-container {
  padding: 20px;
}

.page {
  color: #002f54; 
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  
}

.charts-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 20px;
}

.chart-card {
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.08);
}
