.reviews-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.page {
  color: #002f54; 
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  
}

.review-card {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  margin-bottom: 15px;
  padding: 20px;
}

.review-date {
  margin-left: 15px;
  color: #888;
  font-size: 12px;
}

.review-text {
  margin-top: 10px;
  font-size: 14px;
  color: #444;
}
