.earnings-container {
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}

.page {
  color: #002f54; 
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  
}

.earnings-card {
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
}
