.orders-container {
  padding: 20px;
}

.page {
  color: #002f54; 
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 600;
  text-align: left;
  line-height: 30px;
  
}

.page-heading2{
   color:#ffd30df1;
}